

services:


  # Backend Node.js
  backend:
    build: ./backend
    container_name: app-qa-backend
    restart: unless-stopped
    env_file:
      - .env.backend
    ports:
      - "4001:4000"
    volumes:
      - ./backend/logs:/app/logs
    networks:
      - app-qa-network

  # Frontend React + Nginx
  frontend:
    build: 
      context: ./frontend
      args:
        - REACT_APP_API_URL=${REACT_APP_API_URL:-http://localhost:4001}
        - REACT_APP_ENV=${REACT_APP_ENV:-development}
    container_name: app-qa-frontend
    restart: unless-stopped
    env_file:
      - .env.frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-qa-network



networks:
  app-qa-network:
    driver: bridge
